USE [SportsDB]
GO
/****** Object:  Table [dbo].[persons_temp]    Script Date: 10/28/2015 2:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons_temp](
	[Column 0] [nvarchar](50) NULL,
	[Column 1] [nvarchar](50) NULL,
	[Column 2] [nvarchar](50) NULL,
	[Column 3] [nvarchar](50) NULL,
	[Column 4] [nvarchar](50) NULL,
	[Column 5] [nvarchar](50) NULL,
	[Column 6] [nvarchar](50) NULL,
	[Column 7] [nvarchar](50) NULL,
	[Column 8] [nvarchar](50) NULL,
	[Column 9] [nvarchar](50) NULL,
	[Column 10] [nvarchar](50) NULL
) ON [PRIMARY]

GO
