USE [SportsDB]
GO
/****** Object:  UserDefinedTableType [dbo].[EventKeyTable]    Script Date: 10/28/2015 2:03:47 PM ******/
CREATE TYPE [dbo].[EventKeyTable] AS TABLE(
	[EventKey] [varchar](64) NULL
)
GO
