USE [SportsDB]
GO
/****** Object:  Table [dbo].[USAT_LookupXSL]    Script Date: 10/28/2015 2:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USAT_LookupXSL](
	[LookupId] [int] IDENTITY(10001,1) NOT FOR REPLICATION NOT NULL,
	[leagueKey] [varchar](100) NOT NULL,
	[fixtureKey] [varchar](100) NOT NULL,
	[XSLPath] [varchar](100) NULL,
 CONSTRAINT [PK__USAT_LookupXSL__3F3159AB] PRIMARY KEY CLUSTERED 
(
	[LookupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
