USE [SportsDB]
GO
/****** Object:  Table [dbo].[SMG_DC_Ids]    Script Date: 10/28/2015 2:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMG_DC_Ids](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[dc_id] [int] NOT NULL,
 CONSTRAINT [PK_SMG_DC_Ids] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
