USE [SportsDB]
GO
/****** Object:  Table [dbo].[SMG_Tickets]    Script Date: 10/28/2015 2:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMG_Tickets](
	[team_key] [varchar](100) NOT NULL,
	[league] [varchar](5) NOT NULL,
	[mapping] [varchar](100) NOT NULL,
 CONSTRAINT [PK__SMG_Tick__5F5249C50842AE22] PRIMARY KEY CLUSTERED 
(
	[team_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
